    @inject NavigationManager NavigationManager;
    @inject IJSRuntime JSRuntime

<nav class="navbar mb-3" role="navigation" aria-label="main navigation" style="box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);background-color:darkred;">
    <div class="navbar-brand">

        <div style="display:flex;align-items:center" class="ml-2 mt-1">

            <div>
                <button @onclick="VoltarParaPaginaAnterior" class="button is-inverted">
                    <span class="icon">
                        <i class="fa-solid fa-arrow-left"></i>
                    </span>
                </button>
            </div>
            <div>
                <button @onclick="PaginaInicial" class="button is-inverted ml-3">
                    <span class="icon">
                        <i class="fa-solid fa-house"></i>
                    </span>
                </button>
            </div>
            <div class="ml-3" style="font-size:medium;font-weight:bold;">
            </div>
        </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
</nav>

@code {

    public void PaginaInicial()
    {
        NavigationManager.NavigateTo("/");
    }

    public async Task VoltarParaPaginaAnterior()
    {
         await JSRuntime.InvokeVoidAsync("history.back");
    }
}